.welcome {
    background: url(../../img/palm-bg.jpg) center/cover;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
}

.sustainable-content {
    background-color: #fff;
}

.section-wrapper {
    color: $blue-text;
    padding: 76.5px 39.2px;
    h2 {
        margin: 0 0 30px;
        line-height: 1.4;
        font-size: 26px;
    }
    p {
        line-height: 1.9;
        font-size: .9rem;
    }
}

.sustainable img {
    width: 100%;
    height: 50vh;
    display: block;
}

.section-bg {
    background-color: $grey-bg;
    img {
        width: 100%;
        display: block;
    }
}

.aloha-paradise {
    height: 1112px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
        margin-bottom: 40px;
        -webkit-box-shadow: 40px 40px 0px 0px rgba(164,173,180,0.5);
        -moz-box-shadow: 40px 40px 0px 0px rgba(164,173,180,0.5);
        box-shadow: 40px 40px 0px 0px rgba(164,173,180,0.5);
    }
}

.island-living {
    h2 {
       margin: 0 0 18.75px; 
    }
    p {
        margin: 0 0 30px;  
    }
}

.island-content {
    margin: 45px 0 0;
}