.button {
    color: $orange-text;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .75rem;
    border: 1px solid $orange-text;
    padding: 12px 22px;
    display: inline-block;
}